html,body{
	border:0;
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:poppings,sans-serif;
}
body h4{
	padding-top:10px;
	text-align:center;
}
.cover{
	padding-top:10px;
	width:100%;
	height:auto;
}
.box{
	width:17rem;
	height:21rem;
	box-shadow:0px 4px 8px 0px rgba(0,0,0,0.2);
	border-radius:10px;
}
.cover{
	width:85%;
	height:auto;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin:auto;
	flex-wrap:wrap;
}
.box h5{
	text-align:center;
}